<div class="auth-wrapper">

      <!-- Panneau gauche décoratif -->
      <div class="auth-brand">
        <div class="brand-content">
          <div class="brand-logo">🏠</div>
          <h1 class="brand-title">Family<span>Hub</span></h1>
          <p class="brand-subtitle">
            Organisez votre famille<br>en un seul endroit.
          </p>
          <div class="brand-features">
            <div class="feature-item"><mat-icon>check</mat-icon> To Do List partagée</div>
            <div class="feature-item"><mat-icon>check</mat-icon>  Planning familial</div>
            <div class="feature-item"><mat-icon>check</mat-icon>  Listes de courses</div>
            <div class="feature-item"><mat-icon>check</mat-icon>  Santé</div>
            <div class="feature-item"><mat-icon>check</mat-icon>  E-commerce</div>
          </div>
        </div>
      </div>

      <!-- Panneau droit : formulaire -->
      <div class="auth-form-panel">
        <router-outlet />
      </div>

    </div>